controller:
  persistence:
    postgresql:
      host: shared-pg-rw.database.svc
      port: 5432
      database: argo
      tableName: argo_workflows
      userNameSecret:
        name: argo-pg-credentials
        key: username
      passwordSecret:
        name: argo-pg-credentials
        key: password

server:
  authModes:
    - server
