artifactRepository:
  archiveLogs: true
  s3:
    endpoint: rook-ceph-rgw-ceph-objectstore.rook-ceph:80
    insecure: true
    bucket: argo-artifacts
    accessKeySecret:
      name: argo-artifacts
      key: AWS_ACCESS_KEY_ID
    secretKeySecret:
      name: argo-artifacts
      key: AWS_SECRET_ACCESS_KEY

controller:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 256Mi
  logging:
    format: json
  securityContext:
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  workflowDefaults:
    spec:
      ttlStrategy:
        secondsAfterSuccess: 86400
        secondsAfterFailure: 259200
      podGC:
        strategy: OnPodCompletion
      hooks:
        exit:
          templateRef:
            name: discord-notify
            template: send
          expression: workflow.status == "Failed" || workflow.status == "Error"
  persistence:
    archive: true
    postgresql:
      host: shared-pg-rw.database.svc
      port: 5432
      database: argo
      tableName: argo_workflows
      userNameSecret:
        name: argo-pg-credentials
        key: username
      passwordSecret:
        name: argo-pg-credentials
        key: password

server:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 256Mi
  logging:
    format: json
  securityContext:
    readOnlyRootFilesystem: false
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  authModes:
    - sso
  sso:
    enabled: true
    issuer: https://accounts.google.com
    clientId:
      name: google-oauth
      key: clientID
    clientSecret:
      name: google-oauth
      key: clientSecret
    redirectUrl: https://argo.infra.tgy.io/oauth2/callback
    scopes:
      - openid
      - profile
      - email
