artifactRepository:
  archiveLogs: true
  s3:
    endpoint: seaweedfs-filer.seaweedfs:8333
    insecure: true
    bucket: argo-artifacts
    accessKeySecret:
      name: argo-artifacts
      key: AWS_ACCESS_KEY_ID
    secretKeySecret:
      name: argo-artifacts
      key: AWS_SECRET_ACCESS_KEY

controller:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 256Mi
  logging:
    format: json
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  workflowDefaults:
    spec:
      ttlStrategy:
        secondsAfterSuccess: 86400
        secondsAfterFailure: 259200
      podGC:
        strategy: OnPodCompletion
        deleteDelayDuration: 300s
      hooks:
        exit:
          templateRef:
            name: discord-notify
            template: send
  persistence:
    archive: true
    postgresql:
      host: shared-pg-rw.database.svc
      port: 5432
      database: argo
      tableName: argo_workflows
      userNameSecret:
        name: argo-pg-credentials
        key: username
      passwordSecret:
        name: argo-pg-credentials
        key: password

mainContainer:
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL

executor:
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL

server:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 256Mi
  logging:
    format: json
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    readOnlyRootFilesystem: false
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  authModes:
    - sso
  sso:
    enabled: true
    issuer: https://idm.tgy.io/oauth2/openid/argo-workflows
    clientId:
      name: kanidm-argo-workflows-oauth
      key: clientID
    clientSecret:
      name: kanidm-argo-workflows-oauth
      key: clientSecret
    redirectUrl: https://argo.infra.tgy.io/oauth2/callback
    scopes:
      - openid
      - profile
      - email
