controller:
  persistence:
    archive: true
    postgresql:
      host: shared-pg-rw.database.svc
      port: 5432
      database: argo
      tableName: argo_workflows
      userNameSecret:
        name: argo-pg-credentials
        key: username
      passwordSecret:
        name: argo-pg-credentials
        key: password

server:
  authModes:
    - sso
  sso:
    enabled: true
    issuer: https://argocd.infra.tgy.io/api/dex
    clientId:
      name: argo-workflows-sso
      key: clientID
    clientSecret:
      name: argo-workflows-sso
      key: clientSecret
    redirectUrl: https://argo.infra.tgy.io/oauth2/callback
    scopes:
      - openid
      - profile
      - email
