controller:
  logging:
    format: json
  securityContext:
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  workflowDefaults:
    spec:
      ttlStrategy:
        secondsAfterSuccess: 86400
        secondsAfterFailure: 259200
      podGC:
        strategy: OnPodCompletion
  persistence:
    archive: true
    postgresql:
      host: shared-pg-rw.database.svc
      port: 5432
      database: argo
      tableName: argo_workflows
      userNameSecret:
        name: argo-pg-credentials
        key: username
      passwordSecret:
        name: argo-pg-credentials
        key: password

server:
  logging:
    format: json
  securityContext:
    readOnlyRootFilesystem: false
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  authModes:
    - sso
  sso:
    enabled: true
    issuer: https://accounts.google.com
    clientId:
      name: google-oauth
      key: clientID
    clientSecret:
      name: google-oauth
      key: clientSecret
    redirectUrl: https://argo.infra.tgy.io/oauth2/callback
    scopes:
      - openid
      - profile
      - email
