# Connect Server は不要（Service Account Token 方式）
connect:
  create: false

operator:
  create: true
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 256Mi
  authMethod: service-account
  pollingInterval: 7200
  serviceAccountToken:
    name: onepassword-token
  watchNamespace: []
  podSecurityContext:
    fsGroup: 65532
    runAsUser: 65532
    runAsGroup: 65532
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
