resources:
  requests:
    cpu: 10m
    memory: 32Mi
  limits:
    memory: 128Mi

args:
  - --kubelet-insecure-tls
  - --logging-format=json

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
      - ALL
