tempo:
  reportingEnabled: false
  memBallastSizeMbs: 256
  retention: 168h
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"
  metricsGenerator:
    enabled: true
    remoteWriteUrl: http://kube-prometheus-stack-prometheus.monitoring.svc:9090/api/v1/write
    processor:
      service_graphs:
        dimensions:
          - http.method
          - http.target
      span_metrics:
        dimensions:
          - http.method
          - http.status_code
  overrides:
    defaults:
      metrics_generator:
        processors:
          - service-graphs
          - span-metrics
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo-storage
        endpoint: rook-ceph-rgw-ceph-objectstore.rook-ceph:80
        access_key: ${AWS_ACCESS_KEY_ID}
        secret_key: ${AWS_SECRET_ACCESS_KEY}
        insecure: true
        forcepathstyle: true
      wal:
        path: /var/tempo/wal
  extraArgs:
    config.expand-env: "true"
  extraEnvFrom:
    - secretRef:
        name: tempo-storage
  resources:
    requests:
      cpu: 25m
      memory: 256Mi
    limits:
      memory: 512Mi
  securityContext:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL

securityContext:
  runAsUser: 10001
  runAsGroup: 10001
  fsGroup: 10001
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

persistence:
  enabled: true
  storageClassName: ceph-block
  size: 10Gi

serviceAccount:
  automountServiceAccountToken: false

tempoQuery:
  enabled: false
