global:
  logging:
    format: json

configs:
  cm:
    resource.exclusions: |
      - apiGroups:
          - cilium.io
        kinds:
          - CiliumIdentity
        clusters:
          - "*"
    admin.enabled: "false"
    url: https://argocd.infra.tgy.io
    dex.config: |
      connectors:
        - type: oidc
          id: google
          name: Google
          config:
            issuer: https://accounts.google.com
            clientID: $GOOGLE_CLIENT_ID
            clientSecret: $GOOGLE_CLIENT_SECRET
            requestedScopes:
              - openid
              - profile
              - email
  rbac:
    policy.csv: |
      g, tsuguya.toma@tgy.io, role:admin
    policy.default: ""
    scopes: "[email]"
  params:
    server.insecure: "false"

dex:
  env:
    - name: GOOGLE_CLIENT_ID
      valueFrom:
        secretKeyRef:
          name: argocd-google-oauth
          key: clientID
    - name: GOOGLE_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: argocd-google-oauth
          key: clientSecret

repoServer:
  livenessProbe:
    enabled: false

redis:
  automountServiceAccountToken: false

server:
  certificate:
    enabled: true
    domain: argocd.infra.tgy.io
    issuer:
      group: cert-manager.io
      kind: ClusterIssuer
      name: letsencrypt-prod
  httproute:
    enabled: false
  grpcroute:
    enabled: false
