global:
  logging:
    format: json

configs:
  secret:
    githubSecret: "47092f7304c0d8a46ec6cc33c6b0b7a639129450"
  cm:
    resource.exclusions: |
      - apiGroups:
          - cilium.io
        kinds:
          - CiliumIdentity
        clusters:
          - "*"
    admin.enabled: "false"
    url: https://argocd.infra.tgy.io
    dex.config: |
      connectors:
        - type: oidc
          id: google
          name: Google
          config:
            issuer: https://accounts.google.com
            clientID: $GOOGLE_CLIENT_ID
            clientSecret: $GOOGLE_CLIENT_SECRET
            requestedScopes:
              - openid
              - profile
              - email
      staticClients:
        - id: grafana-sso
          name: Grafana
          redirectURIs:
            - https://grafana.infra.tgy.io/login/generic_oauth
          secretEnv: GRAFANA_SSO_CLIENT_SECRET
        - id: argo-workflows-sso
          name: Argo Workflows
          redirectURIs:
            - https://argo.infra.tgy.io/oauth2/callback
          secretEnv: ARGO_WORKFLOWS_SSO_CLIENT_SECRET
  rbac:
    policy.csv: |
      g, tsuguya.toma@tgy.io, role:admin
    policy.default: ""
    scopes: "[email]"
  params:
    server.insecure: "true"

dex:
  env:
    - name: GOOGLE_CLIENT_ID
      valueFrom:
        secretKeyRef:
          name: argocd-google-oauth
          key: clientID
    - name: GOOGLE_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: argocd-google-oauth
          key: clientSecret
    - name: GRAFANA_SSO_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: grafana-sso
          key: clientSecret
    - name: ARGO_WORKFLOWS_SSO_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: argo-workflows-sso
          key: clientSecret

repoServer:
  livenessProbe:
    enabled: false

server:
  httproute:
    enabled: true
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: main-gateway
        namespace: gateway
        sectionName: https
    hostnames:
      - argocd.infra.tgy.io
  grpcroute:
    enabled: false
