kubeProxyReplacement: true
k8sServiceHost: localhost
k8sServicePort: 7445

cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup

ipam:
  mode: kubernetes

securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    memory: 512Mi

operator:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 256Mi

envoy:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      memory: 256Mi

encryption:
  enabled: true
  type: wireguard
  strictMode:
    enabled: true
    cidr: "10.244.0.0/16"

gatewayAPI:
  enabled: true

l2announcements:
  enabled: true

hubble:
  enabled: true
  metrics:
    enabled:
      - dns:query;ignoreAAAA;labelsContext=source_namespace,destination_namespace
      - drop:labelsContext=source_namespace,destination_namespace
      - tcp:labelsContext=source_namespace,destination_namespace
      - flow:labelsContext=source_namespace,destination_namespace
      - httpV2:labelsContext=source_namespace,destination_namespace
    serviceMonitor:
      enabled: true
      labels:
        release: kube-prometheus-stack
    dashboards:
      enabled: true
  relay:
    enabled: true
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        memory: 192Mi
  ui:
    enabled: true
    frontend:
      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          memory: 128Mi
    backend:
      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          memory: 128Mi
