apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: shared-pg
  namespace: database
spec:
  endpointSelector:
    matchLabels:
      cnpg.io/cluster: shared-pg
  ingress:
    - fromEndpoints:
        - matchLabels:
            app.kubernetes.io/name: grafana
            io.kubernetes.pod.namespace: monitoring
        - matchLabels:
            app.kubernetes.io/name: argo-workflows-workflow-controller
            io.kubernetes.pod.namespace: argo
        - matchLabels:
            app.kubernetes.io/name: argo-workflows-server
            io.kubernetes.pod.namespace: argo
      toPorts:
        - ports:
            - port: "5432"
              protocol: TCP
    - fromEndpoints:
        - matchLabels:
            cnpg.io/cluster: shared-pg
      toPorts:
        - ports:
            - port: "5432"
              protocol: TCP
            - port: "8000"
              protocol: TCP
    - fromEntities:
        - host
      toPorts:
        - ports:
            - port: "8000"
              protocol: TCP
  egress:
    - toEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: kube-system
            k8s-app: kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
            - port: "53"
              protocol: TCP
    - toEntities:
        - kube-apiserver
    - toEndpoints:
        - matchLabels:
            cnpg.io/cluster: shared-pg
      toPorts:
        - ports:
            - port: "5432"
              protocol: TCP
            - port: "8000"
              protocol: TCP
