apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: shared-pg
  namespace: database
spec:
  instances: 2
  storage:
    storageClass: qnap-iscsi
    size: 10Gi
  bootstrap:
    initdb:
      database: grafana
      owner: app
      secret:
        name: shared-pg-credentials
      postInitSQL:
        - "CREATE DATABASE argo OWNER app;"
