apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: shared-pg
  namespace: database
spec:
  instances: 2
  storage:
    storageClass: qnap-iscsi
    size: 10Gi
  bootstrap:
    initdb:
      owner: app
      secret:
        name: shared-pg-credentials
      postInitSQL:
        - "CREATE ROLE grafana LOGIN;"
        - "CREATE ROLE argo LOGIN;"
        - "CREATE DATABASE grafana OWNER grafana;"
        - "CREATE DATABASE argo OWNER argo;"
  managed:
    roles:
      - name: grafana
        ensure: present
        login: true
        passwordSecret:
          name: grafana-pg-credentials
      - name: argo
        ensure: present
        login: true
        passwordSecret:
          name: argo-pg-credentials
