apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: shared-pg
  namespace: database
spec:
  instances: 2
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
    limits:
      memory: 512Mi
  storage:
    storageClass: qnap-iscsi
    size: 10Gi
  bootstrap:
    initdb:
      owner: app
      secret:
        name: shared-pg-credentials
      postInitSQL:
        - "CREATE ROLE grafana LOGIN;"
        - "CREATE ROLE argo LOGIN;"
        - "CREATE DATABASE grafana OWNER grafana;"
        - "CREATE DATABASE argo OWNER argo;"
  backup:
    barmanObjectStore:
      destinationPath: s3://home-cluster-backup/cnpg/
      endpointURL: https://b0832b1c20a7cada26af0ac45862ce80.r2.cloudflarestorage.com
      s3Credentials:
        accessKeyId:
          name: r2-backup-credentials
          key: credential
        secretAccessKey:
          name: r2-backup-credentials
          key: password
      wal:
        compression: gzip
      data:
        compression: gzip
    retentionPolicy: "7d"
  managed:
    roles:
      - name: grafana
        ensure: present
        connectionLimit: -1
        inherit: true
        login: true
        passwordSecret:
          name: grafana-pg-credentials
      - name: argo
        ensure: present
        connectionLimit: -1
        inherit: true
        login: true
        passwordSecret:
          name: argo-pg-credentials
