apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kanidm-backup
  namespace: kanidm
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["pods/exec"]
    verbs: ["create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kanidm-backup
  namespace: kanidm
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kanidm-backup
subjects:
  - kind: ServiceAccount
    name: kanidm-backup-executor
    namespace: argo
