apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: repl-cert-exchanger
  namespace: kanidm
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["pods/exec"]
    verbs: ["create"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "create", "update", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: repl-cert-exchanger
  namespace: kanidm
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: repl-cert-exchanger
subjects:
  - kind: ServiceAccount
    name: kanidm-repl-cert-exchanger
    namespace: argo
