apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: seaweedfs-volume
  namespace: seaweedfs
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: seaweedfs
      app.kubernetes.io/component: volume
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: seaweedfs-filer
  namespace: seaweedfs
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: seaweedfs
      app.kubernetes.io/component: filer
