global:
  securityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault

controller:
  containerSecurityContext:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    capabilities:
      drop: [ALL]
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 256Mi
