apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: argocd-notifications-controller
  namespace: argocd
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: argocd-notifications-controller
  ingressDeny:
    - fromEntities:
        - world
  egress:
    - toEntities:
        - kube-apiserver
    - toFQDNs:
        - matchName: "discord.com"
      toPorts:
        - ports:
            - port: "443"
              protocol: TCP
