logLevel: INFO

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 512Mi

csi:
  pluginTolerations:
    - key: memory-constrained
      operator: Exists
      effect: NoSchedule
