operator:
  scanJobNamespace: trivy-system

resources:
  requests:
    cpu: 50m
    memory: 100Mi
  limits:
    memory: 256Mi

scanJobsConcurrentLimit: 3

trivy:
  ignoreUnfixed: true

serviceMonitor:
  enabled: true
  labels:
    release: kube-prometheus-stack
