apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: hubble-ui
  namespace: kube-system
spec:
  parentRefs:
    - name: main-gateway
      namespace: gateway
      sectionName: https
  hostnames:
    - hubble.infra.tgy.io
  rules:
    - backendRefs:
        - name: hubble-ui
          port: 80
