nextcloud:
  host: nc.tools.tgy.io
  trustedDomains:
    - nc.tools.tgy.io
  existingSecret:
    enabled: true
    secretName: nextcloud-admin-credentials
    usernameKey: username
    passwordKey: password
  defaultConfigs:
    s3.config.php: false
    reverse-proxy.config.php: false
    redis.config.php: false
  phpConfigs:
    uploadlimit.ini: |
      upload_max_filesize = 16G
      post_max_size = 16G
  configs:
    objectstore.config.php: |-
      <?php
      $CONFIG = array(
        'objectstore' => array(
          'class' => '\\OC\\Files\\ObjectStore\\S3',
          'arguments' => array(
            'bucket' => 'nextcloud',
            'hostname' => 'seaweedfs-filer.seaweedfs.svc',
            'port' => 8333,
            'use_ssl' => false,
            'autocreate' => true,
            'key' => getenv('S3_ACCESS_KEY'),
            'secret' => getenv('S3_SECRET_KEY'),
            'use_path_style' => true,
          ),
        ),
      );
    custom.config.php: |-
      <?php
      $CONFIG = array(
        'trusted_proxies' => array('10.0.0.0/8'),
        'overwriteprotocol' => 'https',
        'overwrite.cli.url' => 'https://nc.tools.tgy.io',
        'default_phone_region' => 'JP',
        'memcache.local' => '\\OC\\Memcache\\APCu',
        'memcache.distributed' => '\\OC\\Memcache\\Redis',
        'memcache.locking' => '\\OC\\Memcache\\Redis',
        'redis' => array(
          'host' => 'valkey',
          'port' => 6379,
        ),
      );
  extraEnv:
    - name: S3_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: nextcloud-s3-credentials
          key: username
    - name: S3_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: nextcloud-s3-credentials
          key: password

internalDatabase:
  enabled: false

externalDatabase:
  enabled: true
  type: postgresql
  host: shared-pg-rw.database.svc:5432
  database: nextcloud
  existingSecret:
    enabled: true
    secretName: nextcloud-pg-credentials
    usernameKey: username
    passwordKey: password

redis:
  enabled: false

cronjob:
  enabled: true

persistence:
  enabled: true
  storageClass: qnap-iscsi
  size: 2Gi

podSecurityContext:
  fsGroup: 33
  seccompProfile:
    type: RuntimeDefault

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    memory: 1Gi
