apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: trivy-operator
  namespace: trivy-system
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: trivy-operator
  ingress:
    - fromEndpoints:
        - matchLabels:
            app.kubernetes.io/name: prometheus
            io.kubernetes.pod.namespace: monitoring
      toPorts:
        - ports:
            - port: "8080"
              protocol: TCP
    - fromEntities:
        - host
      toPorts:
        - ports:
            - port: "9090"
              protocol: TCP
  egress:
    - toEntities:
        - kube-apiserver
      toPorts:
        - ports:
            - port: "6443"
              protocol: TCP
    - toFQDNs:
        - matchName: "mirror.gcr.io"
        - matchName: "registry-1.docker.io"
        - matchName: "auth.docker.io"
        - matchName: "production.cloudflare.docker.com"
        - matchName: "ghcr.io"
        - matchName: "registry.k8s.io"
        - matchPattern: "*.pkg.dev"
        - matchName: "quay.io"
        - matchPattern: "*.quay.io"
        - matchName: "public.ecr.aws"
      toPorts:
        - ports:
            - port: "443"
              protocol: TCP
