nfs:
  server: 192.168.0.241
  path: /kubernetes-nfs
  mountOptions:
    - nfsvers=4.1

storageClass:
  name: qnap-nfs
  defaultClass: false
  archiveOnDelete: "true"
  accessModes: ReadWriteOnce

leaderElection:
  enabled: false

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65534
  runAsGroup: 65534
  fsGroup: 65534
  seccompProfile:
    type: RuntimeDefault

securityContext:
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

resources:
  requests:
    cpu: 10m
    memory: 32Mi
  limits:
    memory: 128Mi
