apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: cnp-checker
  namespace: kube-system
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["pods/exec"]
    verbs: ["create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: cnp-checker
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: cnp-checker
subjects:
  - kind: ServiceAccount
    name: cnp-checker
    namespace: argo
