apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: reloader
  namespace: kube-system
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: reloader
  egress:
    - toEntities:
        - kube-apiserver
