apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: snapshot-validation-webhook
  namespace: kube-system
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: snapshot-validation-webhook
  ingress:
    - fromEntities:
        - kube-apiserver
        - host
        - remote-node
      toPorts:
        - ports:
            - port: "8443"
              protocol: TCP
  egress:
    - toEntities:
        - kube-apiserver
