apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: cloudflare-tofu-credentials
  namespace: argo
spec:
  itemPath: "vaults/home-cluster/items/cloudflare-tofu-credentials"
---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: github-pat-tofu
  namespace: argo
spec:
  itemPath: "vaults/home-cluster/items/github-pat-tofu"
