apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: seaweedfs-s3-config
  namespace: seaweedfs
spec:
  itemPath: "vaults/am37jjl6mctaze6xsytbxdhu5y/items/grdzpsbm4amxbwcez3wxbx3xqy"
