deploymentMode: SingleBinary

singleBinary:
  replicas: 1
  persistence:
    storageClass: ceph-block
    size: 10Gi
  extraArgs:
    - -config.expand-env=true
  extraEnvFrom:
    - secretRef:
        name: loki-s3-credentials

loki:
  podSecurityContext:
    fsGroup: 10001
    runAsNonRoot: true
    runAsUser: 10001
    runAsGroup: 10001
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  auth_enabled: false
  analytics:
    reporting_enabled: false
  commonConfig:
    replication_factor: 1
  limits_config:
    retention_period: 336h
  compactor:
    retention_enabled: true
    delete_request_store: s3
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: index_
          period: 24h
  storage:
    type: s3
    s3:
      endpoint: http://rook-ceph-rgw-ceph-objectstore.rook-ceph:80
      region: us-east-1
      accessKeyId: ${AWS_ACCESS_KEY_ID}
      secretAccessKey: ${AWS_SECRET_ACCESS_KEY}
      s3ForcePathStyle: true
      insecure: true
    bucketNames:
      chunks: loki
      ruler: loki
      admin: loki

gateway:
  enabled: true
  podSecurityContext:
    fsGroup: 101
    runAsNonRoot: true
    runAsUser: 101
    runAsGroup: 101
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

chunksCache:
  enabled: false
resultsCache:
  enabled: false

lokiCanary:
  tolerations:
    - key: memory-constrained
      operator: Exists
      effect: NoSchedule
