resources:
  requests:
    cpu: 10m
    memory: 32Mi
  limits:
    memory: 128Mi

logFormat: json

sources:
  - gateway-httproute
  - gateway-tlsroute

provider:
  name: cloudflare

env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-token
        key: credential

policy: sync
registry: txt
txtOwnerId: home-cluster
txtPrefix: _externaldns.

domainFilters:
  - tgy.io

excludeDomains:
  - idm.tgy.io
  - nc.tgy.io

securityContext:
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL
  seccompProfile:
    type: RuntimeDefault
